APP_NAME=Delivery API
API_V1_PREFIX=/api/v1
SECRET_KEY=troque_essa_chave_em_producao
ACCESS_TOKEN_EXPIRE_MINUTES=120
DATABASE_URL=postgresql+psycopg2://postgres:postgres@postgres:5432/delivery_db
BACKEND_CORS_ORIGINS=http://localhost:3000,http://127.0.0.1:3000,http://localhost
